
data/
__pycache__/
.idea/inspectionProfiles/
.idea/discord.xml
.idea/other.xml

processed_data/BLEU
processed_data/test
processed_data/train
raw_data/dstc8-schema-guided-dialogue/
test.py

training_checkpoints/

# REMOVE LATER
BaselineChatbot.py
